@charset "utf-8";
/* CSS Document */

/*https://developer.mozilla.org/en-US/docs/Web/CSS/line-height*/
@media only screen and (min-width: 1780px) {

	body
	{
		width: 100%;
		/*______box-sizing:border-box;__________________*/
		border: 0% 0% 0% 0%;
		padding: 0% 0% 0% 0%;
		margin: 0% 0% 0% 0%;
		
	 	background-size:80%;
		background-position:center;
		background-repeat:no-repeat;
		background-color:#f20103;
		background-attachment: fixed;
		opacity:1;
	}



		/*__________________general container __________________________________*/
		
		
		#container{
			
			width: 70%;/*60%;*/
			padding:1% 0% 35% 0%;
			margin:10% 0% 0% 20%; /*22% 0% 0% 10%;*/
			border:none;
			/*_____
			       background-color:#333441 ;
			       box-sizing:border-box;
			__________________*/
			opacity:0.9;
			border-radius:30px;
		}

		#navheader{
			width:100%;
		}
		 #nav1,#nav2,#nav3{
			 width:20%;
			 float:left;
			 padding:2%;
			 margin: 1% 0% 1% 0%;
		 }
		#menu, #webname{ float:left;}


		/*__________________text___________________________________*/
		
		#name{
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size:3.5em;
			font-weight:bold;
			word-break: normal;
			word-wrap: normal;
			word-spacing: normal;
			
		}

			#intro_text{
				font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
				font-size:1em;
				font-weight:normal;
				line-height: 1.5;
				text-align: left;
				word-break: normal;
				word-wrap: break-word;
				word-spacing: normal;
			}
			
			
			.link_btn{
				font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size:1.2em;
				font-weight:normal;
				line-height: 1.5;
			}
			
			
			.subtitle_section{
				font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size:1.3em;
				font-weight:bolder;
				line-height: 1.2;
			}

			.intro_section{
				font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size:1em;
				font-weight:normal;
				line-height: 1.5;
			}
			
			p::first-line{
				line-height: 1.5;
			}
			
			p{
				line-height: 1.5;
			}

			/*___________________sections___________________________________*/
			
				.section{
				width: 100%;
				padding:1% 2% 0% 2%;
				margin: 1% 1% 0% 1%;
				float:none;
				color:white;
				/*background-color: darkgray;*/
			}
			
			.box{
				width: 100%;
				padding:0% 2% 0% 0%;
				margin: 0% 5% 2% 0%;
				float:left;color:white;
			}

			.subtitle_section
			{ 
				width: 90%;
				margin: 5% 5% 5% 0%;
				border-style:solid;
				border-width:1px 0px 1px 0px;
				padding: 5% 0% 5% 0%;color:white;
			}
			
			.link_btn
			{ 
				width: 100%;
				margin: 5% 0% 5% 0%;
				color:white;
			}
				
			#logo {
				width:30%; 
				height: auto;
				padding:2% 5% 2% 0%;
				margin:2% 5% 2% 0%;
			}
			
			#name{
				/*________box-sizing:border-box;________________________*/
				color:white;
				/*background-color: darkgray;*/
				border-width: 30px 0px 0px 0px;
				border-style: solid;
				padding: 9% 0% 5% 0%;
				
			}
			
			#intro_text{
				border:none;
				padding: 5% 0% 5% 0%;
				border-style: solid;
				border-width:1px 0px 30px 0px;
			}
			
			#section1{
				display:block;
			}


			/*-----------------------------------------------*/
			
			#fli, #tmb {display:none;}
			
			
			
			/*___________________psection patches ___________________________________*/
			#section0{
				width:15%;
			
			}
			/*___________________end patches ___________________________________*/


			
			/*-------------canary------------------*/
			
			.stylenumber{
				position:fixed;
				z-index:3;
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
				font-size:4em;
				top:3%;
				color:black;
				opacity:0.1;
			}	
			#dos, #tres, #cuatro {display:none;}
			#uno{display:block}
			
			
			
						
			/*----------------links ---------------*/
			
			a:visited {
			    text-decoration: none;
				
			}
			a:link {
				text-decoration: none;
				color:#403E3E;
			}
			
			a:hover {
				font-style: oblique;
				text-decoration: underline;
				font-weight: bolder;
				color:white;
			}
}



/*__________________general container __________________________________*/


@media only screen and (max-width: 1780px) {
	
		  	body{
			background-color:#A84343;
			}
			
			#container{
			width: 60%;
			padding: 1% 1% 40% 8%;
			margin: 7% 10% 0% 25%;
			
		/*___________background-color: #1f2F1F;_________________________*/
			border:none;
			border-radius:20px;
			opacity:0.9;
			}
			
			.section{
			width: 18%;
			padding:0% 1% 0% 1%;
			margin: 1% 1% 2% 1%;
			float:left;
			}

}

@media only screen and (max-width: 1440px) {
		  	body{
			
			background-color:#864F75;
		
			}
			#container{
			width: 65%;
			padding:1% 1% 50% 8%;
			/*___________background-color: #1f2F1F;_________________________*/
			border:none;
			border-radius:20px;
			opacity:0.9;
			}
			.section{
			width: 18%;
			padding:0% 1% 0% 1%;
			margin: 1% 1% 2% 1%;
			float:left;
			}

}



@media only screen and (max-width: 1366px) {
		  	body
			{
			
			background-color:#B98F10;
		
			}
			
			#container{
			
			width: 65%;
			padding:1% 1% 50% 5%;
			margin:5% 0% 0% 25%;
			/*___________background-color: #1f2F1F;_________________________*/
			border:none;
			border-radius:20px;
			opacity:0.9;
			}
			.section{
			width: 18%;
			padding:0% 1% 0% 1%;
			margin: 1% 1% 2% 1%;
			float:left;
			}

}


@media only screen and (max-width: 1280px) {
		  	#container{
			
			width: 65%;
			padding:1% 1% 50% 5%;
			margin:15% 0% 0% 25%;
			/*___________background-color: #1f2F1F;_________________________*/
			border:none;
			border-radius:20px;
			opacity:0.9;
			}
}


/*__________________text___________________________________*/


#name{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:2.8em;
	font-weight:bold;
	word-break: normal;
	word-wrap: normal;
	word-spacing: normal;
	
}

#intro_text{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:0.9em;
	font-weight:normal;
	line-height:1.5;
	text-align: left;
	word-break: normal;
	word-wrap: break-word;
	word-spacing: normal;
}


.link_btn{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	font-weight:normal;
	line-height:1.5;
}


.subtitle_section{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.2em;
	font-weight:bolder;
	line-height:1.5;
}

.intro_section{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	font-weight:normal;
	line-height:1.5;
}

p::first-line{
line-height: 1.5;
}

p{
line-height: 1.5;	
}


/*___________________sections___________________________________*/





.box{
	width: 100%;
	margin: 1% 4% 2% 4%;
	float:left;
}


.subtitle_section
{ 
	width: 90%;
	margin: 2% 5% 2% 0%;
	border-style:solid;
	border-width:1px 0px 1px 0px;
	padding: 5% 0% 5% 0%;
}

.link_btn
{ 
	width: 100%;
	margin: 5% 5% 8% 0%;
}

#logo {
	width:30%;
	padding:2% 25% 2% 0%;
	margin:2% 5% 2% 0%;
}


#name{
	box-sizing:border-box;
	border-width:20px 0px 20px 0px;
	border-style: solid;
	padding: 8% 0% 15% 0%;
}

#intro_text{
	
	border-style:solid;
	border-width:1px 0px 0px 0px;
	padding: 8% 0% 5% 0%;
}

#section1{
	display:block;
}

/*#section1, #section2, #section3 {
	border-width:1px 0px 0px 0px;
	border-style:solid;
	border-color: grey;
}
*/

/*-----------------------------------------------*/

#fli, #tmb {display:none;}



/*___________________psection patches ___________________________________*/
#section0{
	width:20%;
	margin-right:3%;

}
/*___________________end patches ___________________________________*/

/*-------------canary------------------*/


.stylenumber{
	position:fixed;
	z-index:3;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:4em;
	top:3%;
	color:darkgray;
	opacity:0.2;
}
#cuatro, #tres, #uno {display:none;}
#dos{display:block}
/*___________________image containers___________________________________*/



#fli, #tmb {display:none;}

/*___________________image containers___________________________________*/


			
/*-------------------------------*/
a:visited {
    text-decoration: none;
	color:white;
}
a:link {
	text-decoration: none;
	color:white;
	
}

a:hover {
	font-style: oblique;
	text-decoration: underline;
	font-weight: bolder;
	color:white;
}



/*__________________general container __________________________________*/


@media only screen and (max-width: 680px) {
	@charset "utf-8";
/* CSS Document */

/*https://developer.mozilla.org/en-US/docs/Web/CSS/line-height*/

		body
		{
			width: 100%;
			/*____box-sizing:border-box;_____*/
			border: 0%;
			padding: 0%;
			margin: 0%;
			background-color:#AA1B14;
		}
		
		/*__________________general container __________________________________*/


		#container{
			
			
			width: 85%;
			padding:5% 5% 5% 5%;
			margin:5% 1% 0% 3%;
			
			border-size:1px;
			/*____box-sizing:border-box;background-color:#1f2F1F;_____*/
			color:white;
			opacity:0.9;
			border-color: green;
			
		}
		
		/*__________________text___________________________________*/
		
		
		#name{
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size:3.1em;
			font-weight:bold;
			word-break: normal;
			word-wrap: normal;
			word-spacing: normal;
			line-height:1.1;
		}

		#intro_text{
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
			font-size:1em;
			font-weight:normal;
			line-height:1.5;
			text-align: left;
			word-break: normal;
			word-wrap: break-word;
			word-spacing: normal;
		}
		
		.link_btn{
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size:1.3em;
			font-weight:normal;
		}
		
		.subtitle_section{
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size:1.3em;
			font-weight:bolder;
		}

		.intro_section{
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size:1em;
			font-weight:normal;
			line-height: 1.5;	
		}
		
		p::first-line{
			line-height: 1.5;
		}
		
		p{
			line-height: 1.5;	
		}
		
		
		/*___________________sections___________________________________*/
		
		.section{
			border-radius:25px;
			width:90%;
			padding:5% 0% 5% 10%;
			margin: 0% 0% 0% 0%;
			/*_________background-color: #1f2F1F;__________________*/

			float:none;
		}
		
		
		.box{
			width: 90%;
			margin: 5% 5% 2% 5%;
			background-color: none;
		}
		
		
		.subtitle_section
		{ 
			width: 90%;
			margin: 5% 5% 5% 5%;
			border-style:solid;
			border-width:1px 0px 1px 0px;
			padding: 5% 0% 5% 0%;
		}

		.intro_section
		{ 
			width: 90%;
			margin: 5% 5% 5% 5%;
		}
		
		.link_btn
		{ 
			width: 90%;
			margin: 5% 5% 5% 5%;
		}
			
		#logo {
			width:30%;
			height:auto;
			padding:0% 5% 5% 5%;
			margin:5% 5% 0% 0%;
		}
				
		#name{
			/*____box-sizing:border-box;_____*/
			color:white;
			background-color: transparent;
			border-width:1px 0px 0px 0px;
			border-style: solid;
			padding:5% 0% 0% 0%;
			
		}
		
		#intro_text{
			color:white;
			border-width:0px 0px 10px 0px;
			border-style: solid;
			margin:5% 0% 2% 5%;
			padding:0% 0% 8% 0%;
		}
		
		#section1{
			display:block;
		}
		
		/*#section1, #section2, #section3 {
			border-width:0px 0px 20px 0px;
			border-style:solid;
			border-color: grey;
		}*/

		#section0{
			
			
			width: 90%;
			top:5%;
			left:auto;
			padding:5% 0% 50% 10%;
			margin: 0% 0% 70% 0%;
			background-color: transparent;
			float:none;
			border-bottom:0px;
		}
		
		
		
		
		/*-----------------------------------------------*/
		
		#fli, #tmb {display:none;}
		
		/*------------------------------------*/
		
		
		
		
		/*-------------canary------------------*/

		.stylenumber{
			position:fixed;
			z-index:3;
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
			font-size:4em;
			top:3%;
			color:white;
		}	
		#dos, #tres, #uno {display:none;}
		#cuatro{display:block}
		
		
		/*___________________psection patches ___________________________________*/
		
		
		/*-------------------------------*/
		a:visited {
		    text-decoration: none;
			
		}
		a:link {
			text-decoration: none;
			color:white;
		}
		
		a:hover {
			font-style: oblique;
			text-decoration: underline;
			font-weight: bolder;
			color:white;
		}

	
}


