@charset "utf-8";
/* CSS Document #f5f5f7 border-weight:0px */

/*https://developer.mozilla.org/en-US/docs/Web/CSS/line-height*/

	html    {
  			scroll-behavior: smooth;
		}

		
@media only screen and (max-width: 600px) {

			body {width: 100%; margin: 5% 0% 0% 0%; opacity:1;}

						
			#button1  { width:27%; max-height:9%; display:block; right:-5%; top:1%; padding:1% 5% 1% 5%; position:fixed; z-index:13; }
			#goTop  { width:27%; max-height:9%; display:block; right:-5%; bottom:1%; padding:1% 5% 1% 5%; position:fixed; z-index:13; }
			.svg{display:block; width:auto;}
			#navheader{display:none;}
			#navheader2{
		        position:fixed;width:96%;height:50vh; padding:20% 0% 0% 0%; margin: 1% 1% 1% 1%; top:-100%;
				top:-222%; z-index:3; opacity:1; border-radius:30px;border:none;
				background-color:#0f0f0f;  box-shadow: 5px 10px 5px grey; }
			#webname {grid-column:1/2; grid-row:1; padding:10% 5% 10% 5%; margin: 1% 0% 0% 2%; color:#9f9f9f;
				border-radius:30px;border:none;border-color:black;
				font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:2em; font-weight:bold;
				 }
			#nav12,#nav22,#nav32,#nav42{
				width:100%;color:white; padding:0% 5% 0% 5%; margin: 0% 0% 0% 2%; border-radius:30px; 
				border:none; border-color:black; line-height:2.1;
				font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:2em; font-weight:bold;
		 	}
			#nav1,#nav2,#nav3,#nav4{
				display:none;
		 	}
		

			#container{ display:grid; grid-template-columns: repeat(2,1fr); grid-template-rows: repeat(30,1fr) ;max-height:770vh; margin:2% 0% 0% 0%; margin: 0% 5% 0% 5%;
				    justify-items:center; column-gap:1%; row-gap:1%; opacity:0.9; border-radius:30px;border-style:solid;border-color:yellow;}

			#section1{  grid-column:1/3; grid-row:1/6; padding:1%; max-height:270vh;
			    	    background-color:#f5f5f7; background-position:1% 75%; background-repeat:no-repeat; background-size:100%; color:black; border:none;
			    	    display:grid; grid-template-columns: repeat(2,1fr); grid-template-rows: repeat(8,1fr); }

			#logo {     height: auto; padding:1% 5% 0% 0%; 
				    margin:2% 5% 0% 0%; grid-column: 1; grid-row:1; }

			#name    {  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:2.8em; font-weight:bold;
				    word-break: normal; word-wrap: normal; word-spacing:normal; color:white; display:grid;
				    border-width: 1px 0px 0px 0px; border-style: solid; padding: 5% 0% 1% 0%; margin: 5% 0% 0% 0%;
				    color:black; grid-column: 1/3; grid-row:2/3; }

			#intro_text{ font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size:1.1em; font-weight:normal;
				    line-height: 1.3; text-align: left;
				    word-break: normal; word-wrap: break-word; word-spacing: normal;
				    border:none; border-style: solid; border-width:0px 0px 40px 0px;
				    padding:1% 0% 3% 0%;margin: 1% 0% 1% 0%;
				    grid-column: 1/3; grid-row:3/4;}

			
			
			#section2{  grid-column:1/3; grid-row:7/11; background-color:#f5f5f7;			      
			    display:grid; grid-template-columns: repeat(1,1fr); grid-template-rows: repeat(8,1fr); column-gap:2%; 
				}
			#section3{  grid-column:1/3; grid-row:11/15;background-color:#f5f5f7;			      
			    display:grid; grid-template-columns: repeat(1,1fr); grid-template-rows: repeat(8,1fr); column-gap:2%; 
				}
			#section4{  grid-column:1/3; grid-row:15/19;background-color:#f5f5f7;			      
			    display:grid; grid-template-columns: repeat(1,1fr); grid-template-rows: repeat(8,1fr); column-gap:2%; 
				}
			#section5{  grid-column:1/3; grid-row:19/23;background-color:#f5f5f7;			      
			    display:grid; grid-template-columns: repeat(1,1fr); grid-template-rows: repeat(8,1fr); column-gap:2%; 
				}
			#section6{  grid-column:1/3; grid-row:23/29;background-color:#f5f5f7;			      
			    display:grid; grid-template-columns: repeat(1,1fr); grid-template-rows: repeat(8,1fr); column-gap:2%; 
				}

			
			#subtitle_section2, #subtitle_section3 , #subtitle_section4, #subtitle_section5 {
				 grid-column:1/3 ;grid-row:5/6; margin: 0% 5% 0% 5%;font-family:Gotham, 
				"Helvetica Neue", Helvetica, Arial, "sans-serif"; }
			#intro_text2,#intro_text3,#intro_text4,#intro_text5 {
				grid-column: 1/3; grid-row:6/8; 
				margin: 0% 5% 0% 5%; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-weight:normal;}

		 	#carousel_infographics, #carousel_illustration, #carousel_uxui,  #carousel_editorial {
      			    	grid-column:1 /3;
      			    	grid-row:1/ 5;
      			    	background-size: 100%; background-size:100%; background-repeat:no-repeat; background-position: center; background-color: #f5f5f7; position: relative; 					padding:0%; }

			
			.arrow { position: absolute; top: 80%; transform: translateY(-20%); background-color: rgba(0, 0, 0, 0.5); color: white; font-size: 3em;
      			padding: 1px 20px 2px 20px;
      			cursor: pointer;
      			z-index: 10;border-radius:30px;
    			}

   		 	.arrow:hover {
      			background-color: rgba(255, 255, 255, 0.5);
      			color: black;
    			}

    			.left {
      			left: 10px;
   			 }

    			.right {
     			 right: 10px;
    			}
		
			}
			










@media only screen and (min-width: 1700px) and (min-width: 601px)  {

			#button1 { display:none; } 
			#goTop { display:none; }

			body {width: 100%; display:grid;
			grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr;
			justify-items:center;
			min-height:100%;
			padding:6% 0% 2% 0%;
			margin: 0% 0% 0% 0%;
		 	background-size:80%;
			background-position:center;
			background-repeat:no-repeat;
			background-color:#f5f5f7;
			background-attachment: fixed;
			opacity:1;
			}	
			

			#container{
			display:grid; 
			grid-column:1/2; max-height:480vh;overflow:hidden;
			grid-template-columns: repeat(12,1fr) ;
			grid-template-rows: repeat(10,1fr) ;
			grid-area:container;
			justify-items:center;
			column-gap:1%;
			row-gap:1%;
			opacity:0.9;
			border-radius:30px;border-style:solid;border-color:yellow;
			}

			#navheader{
			display:grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr fr;
			grid-template-rows: 1fr;
			position:fixed;
			width:96%;
			height:8vh;
			padding:0% 0% 0% 0%;
			margin: 0% 0% 0% 0%;
			top:2%;
			border-radius:30px;border-style:solid;border-color:#f5f5f7;
			background-color:#c4c4c4;
			z-index:3;opacity:0.9;
			}

			#navheader2{display:none;}

			.section{
			padding:5%;margin: 0% 1%;color:#a8a8a8;
			border-radius:30px;border-style:solid;border-width:1px;border-color:#dcdcdc;
			}

			#section1{  grid-column:2/12; grid-row:1/4; padding:2%; 
			    background-color:#f5f5f7; background-position:80% 50%; background-repeat:no-repeat; background-size:50%; color:black; border:none;
			    display:grid; grid-template-columns: repeat(3,1fr); grid-template-rows: repeat(5,1fr); 
			}
			#section2{  grid-column:2/12; grid-row:4/5;background-color:#f5f5f7;			      
			    display:grid; grid-template-columns: repeat(5,1fr); grid-template-rows: repeat(3,1fr); column-gap:2%; 
			}
			#section3{  grid-column:2/12; grid-row:5/6;background-color:#f5f5f7;
			    display:grid; grid-template-columns: repeat(5,1fr); grid-template-rows: repeat(3,1fr); column-gap:2%;
			}
			#section4{  grid-column:2/12; grid-row:6/7;  background-color:#f5f5f7; 
			    display:grid; grid-template-columns: repeat(5,1fr); grid-template-rows: repeat(3,1fr); column-gap:5%; column-gap:2%;
			}
			#section5{  grid-column:2/12; grid-row:7/8; 
			    display:grid; grid-template-columns: repeat(5,1fr); grid-template-rows: repeat(3,1fr); 
			}
			#section6{  background-color:#e7e6e6;
			    grid-column:2/12; grid-row:9/11;padding:2%; display:grid; grid-template-columns: repeat(12,1fr);grid-template-rows: repeat(3,1fr); 
			}

			#subtitle_section2{grid-column:1;grid-row:1;}
			#intro_text2{grid-column:1;grid-row:2;}
			#links_infographics{grid-column:1;grid-row:3;}
			#image_infographics{position:absolute; left:50%; top:100%; opacity:0.1; border:none; border-radius:1px; padding:0px; margin:0px;}
		
			#subtitle_section3{grid-column:1;grid-row:1;}
			#intro_text3{grid-column:1;grid-row:2;}
			#links_illustration{grid-column:1;grid-row:3;}
			#image_illustration1{position:absolute; left:50%; top:200%; opacity:0.1; border:none; border-radius:1px; padding:0px; margin:0px;}

			#subtitle_section4{grid-colum:1;grid-row:1;}
			#intro_text4{grid-column:1;grid-row:2;}
			#links_uxui{grid-column:1; grid-row:3;}
			#image_uxui1 {position:absolute; left:50%; top:270%; opacity:0.1; border:none; border-radius:1px; padding:0px; margin:0px;}

			#subtitle_section5{grid-column:1;grid-row:1;}
			#intro_text5{grid-column:1;grid-row:2;}
			#links_editorial{grid-column:1;grid-row:3;}
			#image_editorial1 {position:absolute; left:50%; top:340%; opacity:0.1; border:none; border-radius:0px; padding:0% 0% 0% 0%; margin:0px;}
				
			#subtitle_section6{grid-column:1;grid-row:1;}
			#intro_text6 {display:grid; grid-column:1/12;grid-row:1/3;grid-template-columns: 1/6; grid-template-rows:1/3;} 
			#subtitle_section6{grid-column:3/6; grid-row:1/2;}
			#texto_footer{grid-column:3/6; grid-row:2/3;}

			#menu {grid-column:2/6;grid-row:1;
		 	float:left;
		  	padding:0% 0% 0% 0%;
			margin: 0% 0% 0% 0%;
			border-radius:30px;border:none;border-color:black;
			}

			#webname {grid-column:1/2; grid-row:1;
		 	float:left;
		  	padding:2% 0% 1% 1%;
			margin: 1% 0% 0% 2%;color:white;
			border-radius:30px;border:none;border-color:black;
			}
		
			#nav1,#nav2,#nav3,#nav4{
			 width:16%;color:#0f0f0f;
			 float:left;
			 padding:1% 2% 1% 2%;
			 margin: 0% 0% 0% 2%;border-radius:30px;border:none;border-color:black;line-height:2.1;
		 	}

			#footer{
			grid-column:1/13; grid-row:11/12;
			}

	    		#carousel_infographics, #carousel_illustration,#carousel_uxui,  #carousel_editorial {
      			grid-column:2 /6;
      			grid-row: 1 / 4;
      			display: flex;
      			align-items: center;
      			justify-content: center;
      			background-image: url('https://via.placeholder.com/1920x1080?text=Image+1');
      			background-size: 80%;
			background-repeat: no-repeat;
      			background-position: center;
      			background-color: #f5f5f7;
      			position: relative;padding:0%;
   		 	}
   	
			.arrow {
      			position: absolute;
      			top: 50%;
      			transform: translateY(-50%);
      			background-color: rgba(0, 0, 0, 0.5);
      			color: white;
      			font-size: 3em;
      			padding: 10px;
      			cursor: pointer;
      			z-index: 10;border-radius:30px;
    			}

   		 	.arrow:hover {
      			background-color: rgba(255, 255, 255, 0.5);
      			color: black;
    			}

    			.left {
      			left: 10px;
   			 }

    			.right { right: 10px; }
		
			

			#name{
				font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size:3.5em;
				font-weight:bold;
				word-break: normal;
				word-wrap: normal;
				word-spacing: normal;color:white;
				border-width: 1px 0px 0px 0px;
				border-style: solid;
				padding: 5% 0% 1% 0%;
				color:black;
				grid-column: 1;
				grid-row:2/3;
			}

			#intro_text{
				font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
				font-size:1em;
				font-weight:normal;
				line-height: 1.5;
				text-align: left;
				word-break: normal;
				word-wrap: break-word;
				word-spacing: normal;
				border:none;
				padding:1% 0% 5% 0%;
				border-style: solid;
				border-width:0px 0px 40px 0px;
				grid-column: 1;
				grid-row:3;
			}
			
			.link_btn{
				font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size:1.2em;
				font-weight:normal;
				line-height: 1.5;
			}
			.subtitle_section{
				font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size:1.3em;
				font-weight:bolder;
				line-height: 1.2;
			}
			#subtitle_section2,#subtitle_section3,#subtitle_section4,#subtitle_section5{
				font-size:3em;
			}
			.intro_section{
				font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size:1em;
				font-weight:normal;
				line-height: 1.5;
			}
			p::first-line{
				line-height: 1.5;
			}
			p{
				line-height: 1.5;
			}
			.link_footer{
			}
			#image_uxui{ object-fit: cover;}

			/*___________________sections___________________________ /*

			.subtitle_section
			{ 
				margin: 5% 5% 5% 0%;
				border-style:solid;
				border-width:1px 0px 1px 0px;
				padding: 5% 0% 5% 0%;color:white;
			}
			.link_btn
			{ 	margin: 5% 0% 5% 0%;
				color:white;
			}	
			#logo {
				height: auto;
				padding:1% 5% 1% 0%;
				margin:2% 5% 2% 0%;
				grid-column: 1/2;
				grid-row:1;
			}
			/*-------------canary------------------*/
			.stylenumber{
				position:fixed;
				left:3%;
				z-index:13;
				font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
				font-size:4em;
				top:3%;
				color:black;
				opacity:0.1;
			}	
			#dos, #tres, #cuatro {display:none;}
			#uno{display:block;}			
			/*----------------links ---------------*/
			a:visited {
			    text-decoration: none;}
			a:link {
				text-decoration: none;
				color:#403E3E;}
			
			a:hover {
				font-style: oblique;
				text-decoration: underline;
				font-weight: bolder;
				color:white;}
		}
